# Pyside6 packages are provided by the runtime
3DFin==0.6.0
CSF_3DFin==2.0.1
dendromatics==0.7.0
dendroptimized==0.2.2
joblib==1.5.3
laspy==2.5.4
lazrs==0.8.0
numpy==2.3.5
pandas==2.3.3
pgeof==0.3.4
pybind11==2.13.6
pydantic==1.10.26
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.3
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.3
xlsxwriter==3.2.9
